* {
              padding: 0;
              margin: 0;
}
.bannerContainer {
  width: 100%;
  height: 70vh;
  background: url(https://images.pexels.com/photos/19311591/pexels-photo-19311591.jpeg?auto=compress&cs=tinysrgb&fit=crop&h=500&w=1400&dpr=1) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: -80px 0;

  
}

